

*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;

}



html{
    font-size: 62.5%;
}


body{
    font-size: 1.6rem;
    font-family: 'Roboto Mono', monospace;
}


:root{
    --blanco:white;
    --letraGrande:2.2rem;
    --letraNormal:1.6rem;
    --letraChica:1.4rem;
}




/*ESTILOS PARA LA NAVEGACION */

.navegacion{
    height: 10vh;
    
    display:flex;
    justify-content:center;
    align-items: center;
}

.navegacion__elementos li img{
    height: 15px;
}

.navegacion__elementos h2{
    font-size: 16px;
}

.navegacion__elementos h3{
    font-size: 14px;
}

.navegacion__elementos  li:nth-child(1){
    display:flex;
    align-items: center;
}

.navegacion__elementos li {

    list-style: none; 

}

.navegacion__elementos {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 90%;

}









