

*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;

}



html{
    font-size: 62.5%;
}


body{
    font-size: 1.6rem;
    font-family: 'Roboto Mono', monospace;
}


:root{
    --blanco:white;
    --letraGrande:2.2rem;
    --letraNormal:1.6rem;
    --letraChica:1.4rem;
}




/*ESTILOS PARA LA NAVEGACION */

.navegacion{
    height: 10vh;
    display:flex;
    justify-content:center;
    align-items: center;
   
}

.navegacion__elementos li img{
    height: 15px;
}

.navegacion__elementos h2{
    font-size: 16px;
}

.navegacion__elementos h3{
    font-size: 14px;
}

.navegacion__elementos  li:nth-child(1){
    display:flex;
    align-items: center;
}

.navegacion__elementos li {

    list-style: none; 

}

.navegacion__elementos {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 90%;

}



/*ESTILOS PARA LA EL CONTENIDO PRINCIPAL */


.principal{
    width: 100%;
    margin:0 auto;
}

.principal h1{
 font-size:2rem;
}

.principal h1 span {
    position:absolute;
    right:0;
    width:10;
    background: white;
  
    animation: escribir 3s steps(15)  alternate;
 
}

@keyframes escribir {
    from { width: 100% }
    to { width:0}
}


/*ESTILOS PARA PRESENTACION */

.principal__presentacion  {
  height:45vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width:90%;
  margin: 0 auto;

}

.principal__presentacion img {
    width:100px;
    border-radius: 50px;
  }


.principal__presentacion p{
    font-size: 1.6rem;
}



.principal__presentacion__iconos li svg {
    height: 25px;
    
}


.principal__presentacion__iconos li   {
   list-style: none;
    
}
.principal__presentacion__iconos li a  {
    
      cursor: pointer;
 }
 

.principal__presentacion__iconos{
    margin-top: 10px;
    display: flex;
    gap: 20px;

}

/*ESTILOS SOBRE MI  */
.principal_sobremi {
    height:45vh;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    background-color:rgb(26, 26, 26);
    margin: 0 auto;

}

.principal_sobremi h2{
  font-size:2rem;
  width:90%;
  margin:0 auto;
  color:white;
}

.principal_sobremi p{
    width:90%;
    margin:0 auto;
    color:white;
  }





/*ESTILOS DE SKILLS */

.principal__skills {
    height: 50vh;
    width: 90%;
    margin: 0 auto;
    
    display: flex;
    flex-direction:column;
    justify-content:space-around;

}

.principal__skills h2 {
    padding-top:30px;
    text-align: center;

}



.principal__skills ul li svg {

    height: 50px;
}


.principal__skills ul li  {

    display: flex;
    flex-direction: column;


}

.principal__skills ul   {

list-style: none;
display:grid;
place-items: center;
gap:30px;
grid-template-columns: 50% 50%;

}


/*ESTILOS DE SOFT SKILLS */


.principal__softSkills{
    height: 50vh;
    background-color:rgb(26, 26, 26);

  


}

.principal__softSkills h2{
    text-align: center;
    padding-top: 20px;
    color:White;


}

.principal__softSkills ul li svg{
    height:30px;
 
}


.principal__softSkills ul li {
    width:90%;
    margin:0 auto;
    list-style: none;
    background-color: white;
    padding: 5px;
    border-radius:10px;

  
}

.principal__softSkills ul {
    height:40vh;
    display:flex;
    flex-direction:column;
    justify-content: space-around;
  
}




/* ESTILOS DE FORMACION ACADEMICA */

.principal__formacionAcademica {
    height:100vh;
    margin-bottom:40px;

}

.principal__formacionAcademica h2{
    text-align: center;
    padding-top: 20px;
    padding-bottom:20px;
}


.principal__formacionAcademica ul li img{
    height:100px;

}

.principal__formacionAcademica ul {
    height:90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

.principal__formacionAcademica ul li div {
 list-style: none;
 width:90%;
 margin: 0 auto;
 display:flex;
 justify-content: center;
 align-items: center;
 border-radius: 10px;
 border: 2px solid black; 

    
}

.principal__formacionAcademica ul li div:hover {

    border: 2px solid green; 
}

.principal__formacionAcademica ul li h4 {

    width:90%;
    margin: 0 auto;
   
   }

   .margin-bot{
       margin-bottom: 20px;
   }

.principal__formacionAcademica ul li h5 {

    width:90%;
    margin: 0 auto;
   
   }



 /*ESTILOS DE EXPERIENCIA PROFESIONAL */  



 .principal_expProfesional{
    height:100vh;
    background-color:rgb(26, 26, 26);
    color:white;
 }

 .principal_expProfesional h2{
     text-align: center;
     
    
 }


 .principal_expProfesional ul  {
    height:90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
   
 }

 .principal_expProfesional ul li  {
     list-style: none;
     width:90%;
     margin: 0 auto;
    height:30%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    gap:10px;
 }
 

 .principal_expProfesional ul li img {
    height:70%;
    width:80%;
    border-radius: 5px;
 }

 

 .principal_expProfesional__etiqueta{
     margin-top:10px;
     padding: 3px;
     border: 1px solid white;

 }



 /*ESTILOS DE CONTACTO  */


 .principal_contacto{
    

    width:90%;
    margin: 0 auto;
 }



 .principal_contacto h2{
     margin-top: 20px;
    text-align: left;
    
}



.acomodarInputs{
    display: flex;
     flex-direction: column;
     
}


.principal_contacto form{
   
    display: flex;
    flex-direction: column;
     justify-content:space-evenly;
     gap:25px;
   
     margin-top: 20px;
     margin-bottom:30px;
}



.principal_contacto form input{
   padding:5px;
}



#txt{
    resize: none;
}




/*ESTILOS DEL FOOTER */

.footer__mensaje{

    width:100%;
    color:white;
    background-color:rgb(26, 26, 26);
    padding: 10px;
    text-align:center;



}