

@media (min-width: 766px) {

   
   
    .principal__skills ul   {

     
        grid-template-columns: 33% 33% 33%;
        
        }


        .principal__formacionAcademica ul {
            
            flex-direction: row;
    
        }
        .principal__formacionAcademica ul li{
           list-style: none;
           text-align: center;
    
        }

        .principal__skills {
            height: 30vh;
         
        
        }
        .principal__formacionAcademica {
            height:30vh;
            
        
        }

        .principal_expProfesional ul li img {
            height:80%;
            width:70%;
            border-radius: 5px;
         }


         .principal__presentacion  {
           display:grid;
           grid-template-columns: 70% 30%;

           grid-template-rows:33% 33% 33%;
        
          
          }

          .principal__presentacion h1 {
            grid-row: 1/2 ;
            grid-column: 1/2;
            align-self: flex-end;
         
    
           }

           .principal__presentacion p {
            grid-row: 2/3 ;
            grid-column: 1/2;
            align-self: center;
       
    
        }
        .principal__presentacion ul {
            grid-row: 3/4 ;
            grid-column: 1/2;
    
        }

        .principal h1 span {
            position:absolute;
            right:0;
            width:10;
            background: rgba(255, 255, 255, 0);
            animation: escribir 3s steps(15)  alternate;
         
        }
        
        @keyframes escribir {
            from { width: 100% }
            to { width:0}
        }

      
        

      
        
        
          .principal__presentacion img {
            width:200px;
            height:200px;
            border-radius: 100px;
            grid-row: 2/3 ;
            grid-column: 2/3;
            align-self: center;
          }
        
        


  }